node_modules
/mail
/vendor
/img
/less
/gulpfile
/package.json

/bootstrap/package.json
/booststrap/gulpfile.js
/bootstrap/vendor
/bootstrap/less
/bootstrap.img

/panel/__MACOSX
/panel/images

/resume/docs
